// ////////////////////////////////////////////
// Card Deck
// ////////////////////////////////////////////
$primary: #3498db;

.card-drop{
	transition: height .3s ease-out;
	position: relative;
	margin: 0 auto;
	perspective: 800px;

  // style all links
	a{
		display: block;
		width: 100%;
		$size: 60px;
		padding:0px $size / 2.5 0 $size / 2.5;
		height: $size;
    line-height: $size;
		text-decoration: none;
		color: darken($primary, 10%);
		background-color: #fafafa;
		border: 1px solid #ddd;
		transition: all .3s ease-out;
		i{
			display: inline-block;
			width: 20px;
		}
	}

  // specific stlye for the toggle link
	>a.toggle{
		position: relative;
		z-index: 100;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		transform-origin: 50% 0%;
		transition: .1s linear;
		&:active{
			transform: rotateX(60deg);
			&:before{
        transform: rotate(180deg);
      }
      &:after{
        transform: rotateX(180deg);
      }
		}
    &:before,
    &:after{
      content: "";
      position: absolute;
    }
		&:before{
			right: 25px;
			top: 50%;
      margin-top: -2.5px;
      border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 6px solid rgba(0,0,0,.8);
		}
	}
  // Card Items
	>a.toggle+div{
		position: absolute;
		height: 100%;
		top: 0;
		display: block;
		width: 100%;
    a{
      margin: 0 auto;
			transition: all .3s ease-out;
			position: absolute;
			top: 0;
			z-index: 0;
			width:100%;
      border-top: none;

    }
		&.closed{
			a:hover{
				cursor: default;
				background-color: $primary;
			}
		}
	}
	&.active a.toggle+div{
		a{
			&:hover,
			&.active{
				color: #fff;
			  background-color: lighten($primary, 5%);
			  color: lighten($primary, 44%);
		  }
      &.active{
				cursor: default;
			}
		}
	}
	// Themes
	&.dark{
		a{
			background-color:#3A3D44;
			border-color: #222;
			color: saturate(lighten($primary, 10%), 10%);
		}
		&.active a.toggle+div a{
			&:hover,
			&.active{
			  background-color: darken($primary, 5%);
		  }
		}
	}
	// Sizes
	&.small a{
		$size: 40px;
		padding:0px $size / 2.5 0 $size / 2.5;
		height: $size;
    line-height: $size;
		font-size: 80%;
	}
	&.large a{
		$size: 80px;
		padding:0px $size / 2.5 0 $size / 2.5;
		height: $size;
    line-height: $size;
		font-size: 120%;
	}
}
